.prin {
    background-color: lightcyan;
    opacity: 0.3;
    filter: alpha(opacity=30);
    border-style: solid;
    border-width: 2px;
    border-color: dimgray;
    border-radius: 8px;
}

.pr {
    color: white;
    text-align: justify;
    text-shadow: -2px -2px 4px #000;
}

.titulo2 {
    color: white;
    text-align: center;
    text-shadow: -2px -2px 2px #000;
}

.titulohead {
    text-align: center;
    font-family: Arial;
    font-weight: bold;
    text-shadow: -2px -2px 4px #000;
    font-size: 30px;
    color: white;
    background-color: transparent;
}

.fondo {
    height: 100%;
    width: 100%;
    background-image: url('../Images/maxresdefault.jpg');
    background-image: url('../Images/maxresdefault.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: transparent;
}

.boton {
    margin-bottom: 10%;
}

plubli {
    margin-top: 10%;
    color: white;
    text-align: justify;
    text-shadow: -2px -2px 4px #000;
}